{% extends "../base.html" %}
{% block content %}
{% load static %}

<div xmlns:margin="http://www.w3.org/1999/xhtml">
    <div class="row" style="
    padding-top: 25px;">
        <img alt="27 Best About Us Page Examples in 2018 and How to Create One"
             src="{% static '/group_photos/best-about-us-pages.jpg' %}"
             style="width:1006px;height:661px;"">
        <span>
        <p>
            We are a team of passionate network analysts based at UC Santa Cruz. We have designed this product to
            perform
            network analysis. We aim to provide real-time pulse for on-campus network connection.
        </p>
    </span>
    </div>

</div>


{% endblock %}
