 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.row {
    padding: 25px;
    margin: 15px;
}

nav {
  background-color: #4ec67f;
}

.page-footer{
	background-color: #4ec67f;
	bottom: 0;
	position: fixed; 
	width:100%;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}

